@font-face{
    font-family:"latin";
    src:url('font/Pacifico.ttf');
}
@font-face{
    font-family:"sf-pro";
    src:url('font/sf-pro.ttf');
}
body{
    margin: 0;
    padding: 0;
}
.landing{
    margin-top:0px;
    padding: 0;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.5), rgba(13, 14, 17, 0.2)),url(img/home.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
#jd1{
    font-family:latin;
    font-size: 48px;
    color:#fff;
    letter-spacing: 3px;
}
#icon{
    width: 90px;
    height: 90px;
}
.konten{
    position: absolute;
    margin-top: -740px;
    transform: translate(130%,30%);
    padding: 20px;
    text-align: center;
}
.jd2{
    font-size: 40px;
    margin-top:-10px;
    color: orange;
    font-family:latin;
    letter-spacing: 3px;
}
.btn-res{
    background-color: orange;
    border: 2px solid orange;
    padding: 8px 45px 8px 45px;
    border-radius: 10px;
    font-weight: bold;
    color: #eee;
    font-family: latin;
    margin-left: 10px;
    text-decoration: none;
}
.btn-abt{
    padding:8px 60px 8px 60px;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 10px;
    color: orange;
    font-family: latin;
    font-weight: bold;
    margin-left: -10px;
    text-decoration: none;
}
#ld{
    margin-bottom: 50px;
    color:#fff;
    font-family: sf-pro;
    font-weight: bold;
}
.abt-jd{
    font-size: 48px;
    margin:-65px 0px 50px 0px;
    color:orange;
    font-family: latin;
}
.abt-konten{
    font-family: sf-pro;
    text-align: center;
    width: 452px;
    height: 100px;
    position: absolute;
    transform: translate(105%,140%);
}
.abt-page{
    margin:0px;
    padding: 0;
    background: #4a4848;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.pg{
    color: #fff;
    letter-spacing: 2px;
    font-family: sans-serif;
}
#bck{
    height: 30px;
    width: 30px;
    position: absolute;
    margin: 30px 0px 0px 40px;
    cursor:pointer;
}
.res-page{
    margin:0px;
    padding: 0;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.5), rgba(13, 14, 17, 0.2)),url(img/reservation.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.full{
    width: 400px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin: 9px 3px 9px 0px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.full-bg{
    width: 190px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin:9px 0px 9px 10px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.full-ag{
    width: 190px;
    padding: 15px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin:9px 0px 9px -10px; 
}
.isi{
    width: 430px;
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: sf-pro;
}
#comen{
    width: 400px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin: 9px 3px 9px 0px;
    text-align: left; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: sf-pro;
    color: #262626;
    font-size: 16px;
}
#res-jd{
    margin: -65px 0px 30px 0px;
    color: orange;
    font-family:latin;
    letter-spacing: 3px;
}
.btn-sub{
    width: 100%;
    background: orange;
    font-family: latin;
    margin: 0;
    padding: 10px 25px 10px 10px;
    border: none;
    font-size: 18px;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
form{
    padding: 0;
    margin: 0;
}